img.hemi{
  float: right;
}

nav{
  background-color: #988871;
  padding: 10px 30% 10px 30%;
  display: flex;
  justify-content: space-between;
}
body{
  margin: 0
}

.main_photo {
  display: block;
  margin: auto;

}

.product {
width: 500px;
border: 2px solid black;
margin: 10px 5px 10px 20px;
}


.parts-bin{
display: flex;
flex-wrap: wrap;
justify-content: space-around;

}

.Aboutpage{
background-color:

}

.homepage-title {
  background-color: #c19758e0;
}

.product-title{
  text-align: center;

}

.product-text{ text-align: center;}

.homepage-container{
  background-color: #988871;
  display: flex;
  justify-content: space-around;
}

h1{text-align: center;
  margin: 0;
  padding: 10px;
}


h2 {margin: 0;
padding:20px }

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Gallery-main{
  background-color:#988871;
}



.profile-pic{
float: left;
padding: 20px
}

.profile-info {
 padding-top: 10%
}

.goldbar{
background-color: #c19758e0
}

.background-aboutpage {
  background-color: #988871;
  height: 800px

}
.main-page-text{
  background-color:#988871;
  height: 200px


}
