img.hemi{
  float: right;
}

nav{
  background-color: darkgray;
  padding: 10px 30% 10px 30%;
  display: flex;
  justify-content: space-between;
}

.main_photo {
  display: block;
  margin: auto;

}

.product {
width: 500px;
border: 2px solid black;
margin: 10px 5px 10px 20px;
}


.parts-bin{
display: flex;
flex-wrap: wrap;
justify-content: space-around;

}

.Aboutpage{
background-color: darkgray;
 
}


.product-title{
  text-align: center;

}

.product-text{ text-align: center;}

.homepage-container{
  background-color: darkgray;
  display: flex;
  justify-content: space-around;
}




h2 {margin: 0;
padding:20px }

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Gallery-main{
  background-color: darkgray;
}
