img.hemi{
  float: right;
}

nav{
  background-color: darkgray;
  padding: 10px 30% 10px 30%;
  display: flex;
  justify-content: space-between;
}

.product {
width: 400px;
border: 2px solid darkgray;
margin: 10px 5px 10px 20px;
}


.parts-bin{
display: flex;
flex-wrap: wrap;
justify-content: space-around;

}




.product-title{
  text-align: center;

}

.product-text{ text-align: center;}

.homepage-container{
  display: flex;
  justify-content: space-around;
}
